@font-face {
  font-family: 'ShareTech';
  src: url('../Font/Share_Tech/ShareTech-Regular.ttf');
}



:root {
  --main-spacing: calc(1.618 * 6px);
  --nav-height: 3em;
  --primary-color: #222222;
  --secondary-color: #4e4e4e;
  --accent-color: #ffa126;
  --text-color: #f0ebeb;
  --border-radius: 6px;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);
  user-select: none; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;  
}

body {
  cursor: default;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

#root *{
  padding: var(--main-spacing);
}

a {
  color: var(--accent-color);
  display: block;
  aspect-ratio: 1;
}

* {
  font-family: ShareTech;
  line-height: 1;
  font-size: large;
  box-sizing: border-box;
  border: 1px solid rgb(87, 87, 87);
  transition: all 0.2s;
}

.navigation {
  background-color: transparent;
  display: flex;
  width: 100%;
  height: var(--nav-height);
}

.navigation button {
  display: block;
  color: var(--text-color);
  background-color: transparent;
  outline: none;
  overflow: hidden;
  text-align: center;
  width: 6em;
  white-space: wrap;
  border-radius: var(--border-radius);
  margin-right: 10px;
  padding: 0;
}

.navigation button:hover {
  background-color: var(--secondary-color);
}

.page {
  /*backdrop-filter: blur(10px);*/
  height: calc(100vh - var(--nav-height));
}


.frame {
  display: flex;
  /*overflow: hidden;*/
  border: solid 2px var(--secondary-color);
  vertical-align: text-top;
  text-wrap: nowrap;
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: var(--main-spacing);
}

.frame_content {
  width: 100%;
  overflow: hidden;
  /*margin: inherit;*/
  margin-top: auto;
  margin-bottom: auto;
  white-space: pre-line;
}

.frame_title{
  font-size: 32px;
  overflow: hidden;
  white-space: pre-line;
  position: absolute;
  top: -25%;
}

.select_value {
  overflow: hidden;
  text-align: center;
}

.button_small {
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
}

.button_small:hover {
  color: var(--accent-color);
  text-shadow: 0 0 5px var(--accent-color);
}


@keyframes fade {
  0%, 100% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.anim_fade {
  /*
    animation: fade linear;
    animation-timeline: view(block);*/
}