@font-face {
  font-family: 'ShareTech';
  src: url('../Font/Share_Tech/ShareTech-Regular.ttf');
}

body {
  margin: 0px;
  padding: 0;
  cursor: default;
}

:root {
  --main-spacing: 16px;
  --primary-color: #222222;
  --secondary-color: #4e4e4e;
  --accent-color: #ffa126;
  --text-color: #f0ebeb;
  --border-radius: 5px;
  --tab-width: 64px;
  --toggle-size: 32px;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);
  user-select: none; 
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;  
  /*scroll-margin: 50%;*/
  /*scroll-snap-stop: always;*/
  padding: 0;
}

a {
  color: var(--accent-color);
  display: block;
  aspect-ratio: 1;
  width: var(--tab-width);
}

* {
  font-family: ShareTech;
  line-height: 1;
  font-weight: 500;
  font-size: large;
  box-sizing: border-box;
  border: 0px solid rgb(163, 163, 163);
  /*border-radius: var(--border-radius);*/
  transition: 0.2s;
}

.tab {
  float: left;
  background-color: transparent;
  position: fixed;
  padding: var(--main-spacing);
  height: 100%;
}

.button_large {
  display: block;
  color: var(--text-color);
  background-color: var(--primary-color);
  outline: none;
  overflow: hidden;
  text-align: center;
  width: var(--tab-width);
  min-width: var(--tab-width);
  max-width: var(--tab-width);
  height: var(--tab-width);
  min-height: var(--tab-width);
  max-height: var(--tab-width);
  white-space: wrap;
  border-radius: var(--border-radius);
}

.button_large:hover {
  background-color: var(--secondary-color);
}



@keyframes fade {
  45%, 55% {opacity: 0;}
  50% {opacity: 1;}
}

.anim_fade {
    animation: fade linear;
    animation-timeline: view(block);
}

.page {
  float: right;
  width: calc(100% - (var(--tab-width) + var(--main-spacing) * 2));
  height: 100vh;
  scroll-behavior: inherit;
  scroll-snap-type: inherit;
  scroll-snap-align: inherit;
  
  opacity: 0;
  overflow: auto;
  padding: var(--main-spacing);
}

.frame {
  display: flex;
  min-height: var(--tab-width);
  max-height: fit-content;
  /*overflow: hidden;*/
  border-bottom: solid 1px var(--secondary-color);
  vertical-align: text-top;
  text-wrap: nowrap;
  /*border-radius: var(--border-radius);*/
  padding: var(--main-spacing);
  position: relative;
}

.frame_content {
  width: 100%;
  /*min-height: var(--tab-width);*/
  overflow: hidden;
  margin: inherit;
}

.select {
  display: flex;
  height: calc(var(--tab-width) / 2);
  padding: inherit;
}

.select_value {
  min-width: var(--tab-width);
  max-width: var(--tab-width);
  overflow: hidden;
  text-align: center;
}

.button_small {
  min-width: calc(var(--tab-width) / 2);
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
}

.button_small:hover {
  color: var(--accent-color);
}

/*checkbox*/
.switch {
  display: inline-block;
  position: relative;
  width: var(--toggle-size);
  aspect-ratio: 3;
  border: none;
}

/*checkbox content*/
.switch input { 
  display: none;
}

/*background*/
.slider {
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  border-radius: var(--border-radius);
  transition: .2s;
}

/*slider knob*/
.slider:before {
  position: absolute;
  left: 0;
  content: "";
  height: 100%;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  /*animated properties*/
  opacity: 0;
  width: 0%;
  box-shadow: none;
  transition: .2s;
}
/* background color change when toggled on
input:checked + .slider {
  background-color: var(--secondary-color);
}
*/
input:checked + .slider:before {
  opacity: 1;
  width: 100%;
  box-shadow: 0 0 10px var(--accent-color);
}