@font-face {
  font-family: 'ShareTech';
  src: url('../Font/Share_Tech/ShareTech-Regular.ttf');
}

body {
  margin: 0px;
  padding: 0;
  cursor: default;
}

:root {
  --main-spacing: 12px;
  --primary-color: #222222;
  --secondary-color: #333333;
  --accent-color: #6ecc38;
  --text-color: #f0ebeb;
  --border-radius: 5px;
  --tab-width: 64px;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);
  user-select: none; 
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;  
  margin: -3px;
}

a {
  color: var(--accent-color);
  display: block;
  aspect-ratio: 1;
  width: var(--tab-width);
}

* {
  font-family: ShareTech;
  line-height: 1;
  font-weight: 500;
  font-size: large;
  box-sizing: border-box;
  border: 1px dotted var(--accent-color);
}

.tab {
  float: left;
  background-color: transparent;
  position: fixed;
  margin: var(--main-spacing);
  height: calc(100% - (var(--main-spacing) * 2));
}

.tab button {
  display: block;
  background-color: inherit;
  color: var(--text-color);
  background-color: var(--primary-color);
  aspect-ratio: 1;
  border: none;
  outline: none;
  text-align: center;
  width: var(--tab-width);
  transition: 0.5s;
}
.tab button:hover {
  background-color: var(--secondary-color);
}

@keyframes fade {
  40%, 60% {opacity: 0;}
  50% {opacity: 1;}
}

.anim_fade {
    animation: fade linear;
    animation-timeline: view(block);
}

.page {
  float: right;
  padding: 0px 12px;
  width: calc(100% - (var(--tab-width) + var(--main-spacing) * 3));
  height: calc(100vh - var(--main-spacing) * 2);
  margin: var(--main-spacing);
  scroll-behavior: inherit;
  scroll-snap-type: inherit;
  scroll-snap-align: inherit;
  opacity: 0;
}