@font-face {
  font-family: 'ShareTech';
  src: url('../Font/Share_Tech/ShareTech-Regular.ttf');
}

:root {
  --main-spacing: calc(1.618 * 6px);
  --primary-color: #2c2c2c;
  --secondary-color: #424242;
  --accent-color: #d7f81b;
  --text-color: #cfcfcf;
  --border-radius: 6px;
  --animation-duration: 0.2s;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);
  user-select: none; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: center;  
}

body {
  cursor: default;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

#root {
  border: 1px solid rgb(18, 214, 67);
  height: 100%;
}

#root *{
  padding: var(--main-spacing);
  transition: all var(--animation-duration);
}

a {
  color: var(--accent-color);
  aspect-ratio: 1;
}

* {
  font-family: ShareTech;
  line-height: 1;
  font-size: large;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid rgb(0, 212, 212);
}

.navigation {
  display: grid;
  background-color: transparent;
  z-index: 2;
  height: fit-content;
  min-width: fit-content;
}

button {
  color: var(--text-color);
  background-color: transparent;
  outline: none;
  border-color: transparent;
  text-align: left;
  white-space: wrap;
}

button:hover {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--accent-color);
}
/*
.navigation button {
  color: var(--text-color);
  background-color: transparent;
  outline: none;
  border-color: transparent;
  text-align: left;
  white-space: wrap;
}

.navigation button:hover {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--accent-color);
}
*/
.page_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
}

.page {
  backdrop-filter: blur(5px);
  min-width: 100%;
  min-height: 100%;
}

.frame {
  display: flex;
  flex-direction: row;
  border: solid 2px var(--secondary-color);
  border-radius: var(--border-radius);
  vertical-align: text-top;
  text-wrap: nowrap;
  margin-bottom: var(--main-spacing);
}

.frame_content {
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  white-space: pre-line;
}

.frame_title{
  font-size: 32px;
  overflow: hidden;
  white-space: pre-line;
  position: absolute;
  top: -25%;
}

.select_value {
  overflow: hidden;
  text-align: center;
}

.button_small {
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
}

.button_small:hover {
  color: var(--accent-color);
  text-shadow: 0 0 5px var(--accent-color);
}